nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 100px 0px;
}

a{
    font-size: 1.2rem;
}

img{
    width: 50px;
}

img:hover{
    cursor: pointer;
}